Debug
/UI.SyntaxBox/UI.SyntaxBox.csproj.user
/.vs/UI.SyntaxBox/v16/.suo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/UI.SyntaxBox/v16/TestStore/0/testlog.manifest
/.vs/UI.SyntaxBox/v16/TestStore/0/000.testlog
/.vs/UI.SyntaxBox/v16/Server/sqlite3/storage.ide
/.vs/UI.SyntaxBox/v16/Server/sqlite3/db.lock
